<h1>Artist: <%=@artist.name%></h1>

<h1>Songs:</h1>
<%@artist.songs.each do |s|%>
<li><a href="/songs/<%=s.slug%>"><%=s.name%></a></li>
<%end%>

<h1>Genres:</h1>
<%@artist.genres.each do |g|%>
<li><a href="/genres/<%=g.slug%>"><%=g.name%></a></li>
<%end%>